.login {
    display: grid;
    place-items: center;
    height: 100vh;
}
.login button {
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
    transition: all 0.3s ease-in-out;
}
.login button:hover {
    background-color: #fff;
    color: #2e81f4;
}
.login img {
    object-fit: contain;
    height: 150px;
}
.login h1 {
    margin-top: 20px;
    color: #2e81f4;
}